<div class="page-container">
    <h1>Contacts</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Mobile Phone</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts | async">
                <td><a routerLink="{{contact.id}}">{{ contact.name }}</a></td>
                <td>{{ contact.position_title }}</td>
                <td>{{ contact.mobile_phone }}</td>
                <td>{{ contact.email_address }}</td>
            </tr>
        </tbody>
    </table>
</div>
