.hero-image {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 2rem;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}

#overlay-box{
    margin-top: 10rem;
    margin-left: 10rem;
    background: white;
    width: 30%;
    padding: 3rem;
    border-radius: 5px;
}