<nav class="nav">
    <section class="nav-userinfo">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse atque repudiandae dolorum</p>
    </section>
    <section class="nav-navigation">
        <div class="nav-container">
            <div class="nav-container-item">
                <a routerLink="reports">Reports</a>
            </div>
            <div class="nav-container-item">
                <a routerLink="clients">Clients</a>
            </div>
            <div class="nav-container-item">
                <a routerLink="contacts">Contacts</a>
            </div>
        </div>
    </section>
    <section class="nav-footer">
        <div class="div">
            <a class="button" (click)="logout()">Logoff</a>
        </div>
    </section>
</nav>